@import './index.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  align-items: center;
}

.code-input input {
  font-family: monospace;
  margin: 2px;
  width: 40px;
  height: 50px;
  font-size: 32px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  text-align: center;
  text-transform: uppercase;
}

.result {
  color: var(--color-accent);
}

.grass-gif {
  border: 5px solid var(--color-text);
  border-radius: 10px;
}

.copy-score-button {
  background-color: transparent;
  width: 150px;
  height: 70px;
  border: 2px solid var(--color-border);
  border-radius: 40px;
  cursor: pointer;
  color: var(--color-accent);
  font-size: 20px;
  
}

.copy-score-button:hover {
  background-color: var(--color-accent);
  color: var(--color-surface);
  border-color: var(--color-accent);
  box-shadow: 0px 0px 10px var(--color-accent);
}